* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 40px 20px;
}


header h1 {
    font-size: 40px;
}


header p {
    font-size: 18px;
}



.hero {
    text-align: center;
    padding: 60px 20px;
}


.hero h2 {
    color: #8b0000;
    font-size: 32px;
    margin-bottom: 15px;
}


.hero button {
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}



.about,
.product,
.contact {

    padding: 40px 20px;
    text-align: center;

}



.box {

    background:white;
    max-width:400px;
    margin:20px auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



footer {

    background:#222;
    color:white;
    text-align:center;
    padding:20px;

}
.logo {

    width:150px;
    height:150px;
    object-fit:contain;
    margin-bottom:20px;

}
.product-img {

    width:250px;
    height:250px;
    object-fit:contain;
    margin-bottom:20px;

}


.box button {

    margin-top:20px;
    padding:12px 25px;
    background:#8b0000;
    color:white;
    border:none;
    border-radius:25px;
    cursor:pointer;

}
.order-btn {

    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#8b0000;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-size:16px;

}


.order-btn:hover {

    opacity:0.8;

}.order-btn {

    display:inline-block;
    margin-top:20px;
    padding:12px 30px;
    background:#8b0000;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-size:16px;

}
